---
import Layout from '@layouts/Layout.astro';
---

<Layout title="My Presentations">
    <main class="mt-20 mb-10 flex flex-col items-center justify-center md:mb-0 md:mt-20">
        <h1 class="font-monospace text-2xl text-orange lg:text-4xl">My Presentations</h1>
        <span class="mb-10 h-1 w-10 bg-orange"></span>
        <div class="w-full max-w-2xl pb-60">
            <p class="mb-6">
                Here are some of my slide presentations.
                I gave them as a guest lecturer for the
                <a
                    href="https://www.alura.com.br/pos-tech"
                    target="_blank"
                    rel="noopener"
                    class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                >Alura - Fiap platform</a>
                (a kind of brazilian Coursera).
                The audience in some of them had no deep
                knowledge of Math or Statistics,
                so that was an interesting challenge.
            </p>
            <br>
        </br>
          <br>
        </br>
            <ul class="space-y-4">
                <li>
                    <a 
                        href="https://docs.google.com/presentation/d/1LwzrEIpzTnJS4G1t4QUwiKck_3hCr9QN5_8VSslzSPE/edit?usp=sharing"
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Pensamento crítico" - palestra dada para o <strong>Ministério Público do Ceará</strong>, Fevereiro 2026
                    </a>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <span class="text-black dark:text-white">
                        "Estatística para a área de
                        Customer Success" - palestra dada
                        para a <strong>Neoway/B3</strong>, 2025
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1C23xPnHm8w9xv95awEx_he6TRVHmLsplCGB7O9WLeQI/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1hE9hWlHQ3c_pGRsZO_2rqJZDpsJo0ifWNNVI_Wij5Ao/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1fa7vQgJlApGsNexEsvnC9CD9K7BoxmeLaFi9h3xEFbg/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 3</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/19kAV18J5vgMvTkzSZ4R33QBTUzuZSXnApx72O6whAbU/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 4</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/19lQDmpTCV0xdNiVBceAj0mHIdQOGX_yXxIOdh9z3Md4/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 5</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1IJ-lCLvQfB9fe8vQ1cWA1KS5T07ztw4WsNA5aAA-rsw/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 6</a>
                        </li>
                    </ul>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <span class="text-black dark:text-white">
                        "Cultura data-driven e tomada
                        de decisões baseadas em dados" -
                        palestra dada para o <strong>Grupo Ultra</strong>,
                        2024
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1IIwDjK5-jHFOb7_NXYraINdAInBl-0NiokZMQ1TdC8M/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1h66q9IqbVgvCAATNca2m3YOP4WvIXSV3SULccWCKLLw/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1jQpGWocFgxzrwWWHGGniupcXO-qTvmFoCfDs4PsAxOc/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 3</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/16UR4l1QW6R7NWBNUX8WmV4WabsdysDnFvcApYgm4yN4/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 4</a>
                        </li>
                    </ul>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <span class="text-black dark:text-white">
                        "Fundamentos estatísticos e
                        conceitos de probabilidade" -
                        palestra dada para a <strong>AmBev</strong>, 2023
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://slides.com/rafaelmonteiro-1/fundamentos-estatisticos/fullscreen"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1jWihDcFubPagZAh5-RbXlmaiyTdP2Y3hxXx4c2TK9Uw/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>
</Layout>
