---
import Layout from '@layouts/Layout.astro';
---

<Layout title="My Presentations">
    <main class="mt-20 mb-10 flex flex-col items-center justify-center md:mb-0 md:mt-20">
        <h1 data-i18n="presentations.title" class="font-monospace text-2xl text-orange lg:text-4xl">My Presentations</h1>
        <span class="mb-10 h-1 w-10 bg-orange"></span>
        <div class="w-full max-w-2xl pb-60">
            <p class="mb-6">
                <span data-i18n="presentations.intro.before">Here are some of my slide presentations. I gave them as a guest lecturer for the</span>
                <a
                    href="https://www.alura.com.br/pos-tech"
                    target="_blank"
                    rel="noopener"
                    class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                ><span data-i18n="presentations.intro.link">Alura - Fiap platform</span></a>
                <span data-i18n="presentations.intro.after">(a kind of brazilian Coursera). The audience in some of them had no deep knowledge of Math or Statistics, so that was an interesting challenge.</span>
            </p>
            <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
        <ul class="space-y-4">
            <!-- Add more presentations below -->
                <li>
                    <span class="text-black dark:text-white">
                        <strong><em>Análise de dados e IA Generativa</em></strong>
                         - aula sobre clusterização, com diversos exemplos, aplicações, ressalvas e recomendações
                          para o time do  <strong>Banco Santander</strong>, Abril 2026
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://github.com/rafael-a-monteiro-math/alura-santander-2026"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Repositório no GitHub com notebook desenvolvido para o curso</a>
                        </li>
                    </ul>
                </li>    
            <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
         <!-- Add more presentations below -->
                <li>
                    <span class="text-black dark:text-white">
                        <strong><em>Machine Learning e IA Generativa</em></strong>
                         - palestra seguida de workshop com
                          laboratórios práticos dada para a <strong>Motiva</strong>, Março 2026
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://github.com/rafael-a-monteiro-math/alura-march-2026"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Repositório no GitHub com notebook utilizados nos laboratórios</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/16ATmSBbbNX9b8dTgbigggZp9w7CB5FhE_-q2pi_EN0o/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Slides - apresentação introdutória sobre o tema</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1RPuYsFta5B-I_dZQHfPOBTjqd3afZnUP_3CLGDb_iWo/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Slides de suporte para os laboratórios</a>
                        </li>
                    </ul>
                </li>    
                <!-- Add more presentations below -->
                <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
                <li>
                     <span class="text-black dark:text-white">
                        <strong><em>Pensamento crítico</em> </strong>- palestra dada para o <strong>Ministério Público do Ceará</strong>, Fevereiro 2026
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>    
                            <a 
                            href="https://docs.google.com/presentation/d/1LwzrEIpzTnJS4G1t4QUwiKck_3hCr9QN5_8VSslzSPE/edit?usp=sharing"
                            target="_blank"
                            rel="noopener"
                            class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            > Slides
                        </a>
                    </li>
                </ul>
                </li>
                <!-- Add more presentations below -->
                 <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
                <li>
                    <span class="text-black dark:text-white">
                        <strong><em>Estatística para a área de
                        Customer Success</em></strong> - palestra dada
                        para a <strong>Neoway/B3</strong>, 2025
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1C23xPnHm8w9xv95awEx_he6TRVHmLsplCGB7O9WLeQI/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1hE9hWlHQ3c_pGRsZO_2rqJZDpsJo0ifWNNVI_Wij5Ao/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1fa7vQgJlApGsNexEsvnC9CD9K7BoxmeLaFi9h3xEFbg/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 3</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/19kAV18J5vgMvTkzSZ4R33QBTUzuZSXnApx72O6whAbU/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 4</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/19lQDmpTCV0xdNiVBceAj0mHIdQOGX_yXxIOdh9z3Md4/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 5</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1IJ-lCLvQfB9fe8vQ1cWA1KS5T07ztw4WsNA5aAA-rsw/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 6</a>
                        </li>
                    </ul>
                </li>
                <!-- Add more presentations below -->
                 <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
                <li>
                    <span class="text-black dark:text-white">
                        <strong><em>Cultura data-driven e tomada
                        de decisões baseadas em dados</em></strong> -
                        palestra dada para o <strong>Grupo Ultra</strong>,
                        2024
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1IIwDjK5-jHFOb7_NXYraINdAInBl-0NiokZMQ1TdC8M/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1h66q9IqbVgvCAATNca2m3YOP4WvIXSV3SULccWCKLLw/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1jQpGWocFgxzrwWWHGGniupcXO-qTvmFoCfDs4PsAxOc/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 3</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/16UR4l1QW6R7NWBNUX8WmV4WabsdysDnFvcApYgm4yN4/edit?usp=drive_link"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 4</a>
                        </li>
                    </ul>
                </li>
                <!-- Add more presentations below -->
                 <div class="flex justify-center mb-8">
                    <span class="text-4xl text-orange">∞</span>
                </div>
                <li>
                    <span class="text-black dark:text-white">
                        <strong><em>Fundamentos estatísticos e
                        conceitos de probabilidade</em></strong> -
                        palestra dada para a <strong>AmBev</strong>, 2023
                    </span>
                    <ul class="ml-6 mt-2 list-disc space-y-2">
                        <li>
                            <a
                                href="https://slides.com/rafaelmonteiro-1/fundamentos-estatisticos/fullscreen"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 1</a>
                        </li>
                        <li>
                            <a
                                href="https://docs.google.com/presentation/d/1jWihDcFubPagZAh5-RbXlmaiyTdP2Y3hxXx4c2TK9Uw/edit?usp=sharing"
                                target="_blank"
                                rel="noopener"
                                class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                            >Parte 2</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </main>
</Layout>
