---
import Layout from '@layouts/Layout.astro';
---

<Layout title="My Presentations">
    <main class="mt-20 mb-10 flex flex-col items-center justify-center md:mb-0 md:mt-20">
        <h1 class="font-monospace text-2xl text-orange lg:text-4xl">My Presentations</h1>
        <span class="mb-10 h-1 w-10 bg-orange"></span>
        <div class="w-full max-w-2xl pb-60">
            <p class="mb-6">Here are some of my slide presentations. I gave them as a guest lecturer for the <a href="https://www.alura.com.br/pos-tech" target="_blank" rel="noopener" class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline">Alura - Fiap platform</a> (a kind of brazilian Coursera). The audience in some of them had no deep knowledge of Math or Statistics, so that was an interesting challenge.</p>
            <br>
        </br>
          <br>
        </br>
            <ul class="space-y-4">
                <li>
                    <a 
                        href="https://docs.google.com/presentation/d/1LwzrEIpzTnJS4G1t4QUwiKck_3hCr9QN5_8VSslzSPE/edit?usp=sharing"
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Pensamento crítico" - palestra dada para o Ministério Público do Ceará, Fevereiro 2026
                    </a>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <a 
                        href=""
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Estatística para a área de Customer Success" - palestra dada para a Neoway/B3, 2025 (em breve)
                    </a>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <a 
                        href=""
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Cultura data-driven e tomada de decisões baseadas em dados" - palestra dada para o Grupo Ultra, 2024 (em breve)
                    </a>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <a 
                        href="https://slides.com/rafaelmonteiro-1/fundamentos-estatisticos/fullscreen""
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Fundamentos estatísticos e conceitos de probabilidade I" - palestra dada para a AmBev, 2023
                    </a>
                </li>
                <!-- Add more presentations below -->
                <li>
                    <a 
                        href="https://docs.google.com/presentation/d/1jWihDcFubPagZAh5-RbXlmaiyTdP2Y3hxXx4c2TK9Uw/edit?usp=sharing"
                        target="_blank"
                        rel="noopener"
                        class="text-black hover:text-orange dark:text-white dark:hover:text-orange underline"
                    >
                        "Fundamentos estatísticos e conceitos de probabilidade II" - palestra dada para a AmBev, 2023
                    </a>
                </li>
            </ul>
        </div>
    </main>
</Layout>
