---
---

<section
	data-testid="about"
	id="about"
	class="mb-26 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:mb-26 lg:flex-row">
	<div class="mb-26 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a Ph.D. Applied Mathematician who worked in a wide range of activities. 
I am adaptable, having lived and worked in different cultures, East and West. I am resilient and patient, embracing with curiosity the ambiguous - and sometimes unclear - paths one has to navigate while researching, being creative, or managing mid-long-term projects.

Currently, I have worked for the largest e-commerce company in South America specializing in sports.

<br></br>
I have also had the chance to do a few consulting projects. My consultancy focuses on bridging gaps in company operations and decision-making processes. While most companies are aware of such gaps, some don't even know they exist. 

A list of some pilot projects spread across different areas:

<br></br>

<ul style="list-style:none; padding-left:1cm;">
  <li style="position: relative;"><span class="text-orange">Noise reduction through machine learning, statistical models, and methods to aggregate decisions.
</span><span style="position:absolute; left:-1.5em;">∞</span></li>
  <li style="position: relative;"><span class="text-orange">Natural Language Processing (creating embeddings to enhance vector search, information extraction, fine-tuning LLMs to generate new content, etc).</span>
 <span style="position:absolute; left:-1.5em;">∞</span></li>
  <li style="position: relative;"><span class="text-orange">Redesign time-consuming tasks to make them quantifiable, data-driven, leaner, and more efficient.</span>
<span style="position:absolute; left:-1.5em;">∞</span></li>
  <li style="position: relative;"><span class="text-orange">(Statistical and computational) modeling tasks/processes that have never been quantified nor had their value stream mapped.</span>
<span style="position:absolute; left:-1.5em;">∞</span></li>
</ul>

<br></br>
Last, I also have 7 years of experience in scientific research, working in Pattern Formation and Statistical Pattern Recognition. I worked on developing and applying statistical, mathematical, and computational methods to simplify, accelerate, decrease costs, and enhance data-driven strategies in Material Sciences. Mostly, I have developed projects with cross-functional, multi-disciplinary teams that self-organize around problems to solve them.
		</p>
	</div>
</section>
