---
---

<section
	data-testid="about"
	id="about"
	class="mb-26 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:mb-26 lg:flex-row">
	<div class="mb-26 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-orange lg:text-4xl">About me</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-orange"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			I am a Ph.D. Applied Mathematician with a broad and interdisciplinary background, spanning scientific research, consulting, and industry applications.

Adaptable and resilient, I have lived and worked across diverse cultures—East and West—embracing complexity and ambiguity with curiosity. Whether conducting research, leading data-driven projects, or building new solutions from scratch, I thrive in environments that demand creativity, rigor, and long-term thinking.

<br></br>
Over the past two years, I have worked for the largest sports-focused e-commerce company in South America, where I applied mathematical and computational methods to enhance operations and decision-making.

In parallel, I have undertaken consulting projects focused on bridging operational and analytical gaps within organizations. Many of these projects start by uncovering unseen inefficiencies and transforming them into measurable, data-informed processes.

<br></br>
Some of my pilot projects have included:

<ul style="list-style:none; padding-left:1cm;">
  <li style="position: relative; margin-bottom: 0.5em;">
    <span style="position:absolute; left:-1.5em; top:0;">∞</span>
    <span class="text-orange">Noise reduction through machine learning, statistical models, and methods to aggregate decisions.</span>
  </li>
  <li style="position: relative; margin-bottom: 0.5em;">
    <span style="position:absolute; left:-1.5em; top:0;">∞</span>
    <span class="text-orange">Natural Language Processing (creating embeddings to enhance vector search, information extraction, fine-tuning LLMs to generate new content, etc).</span>
  </li>
  <li style="position: relative; margin-bottom: 0.5em;">
    <span style="position:absolute; left:-1.5em; top:0;">∞</span>
    <span class="text-orange">Process redesign, transforming time-consuming workflows into quantifiable, lean, and efficient systems.</span>
  </li>
  <li style="position: relative; margin-bottom: 0.5em;">
    <span style="position:absolute; left:-1.5em; top:0;">∞</span>
    <span class="text-orange">Modeling and quantification of tasks and value streams previously unmeasured or poorly understood.</span>
  </li>
</ul>

<br></br>
Earlier in my career, I spent seven years in scientific research, focusing on Pattern Formation and Statistical Pattern Recognition. My work integrated statistical, mathematical, and computational tools to accelerate and optimize data-driven research in Material Sciences.

I enjoy collaborating in cross-functional, self-organized teams that unite diverse perspectives around a common problem—transforming ideas into tangible, impactful solutions.

<br></br>

<br></br>
</p>
	</div>
</section>
