---
import Button from '@components/ui/Button.astro';
import ToggleTheme from '@components/ui/ToggleTheme.astro';
import { Astronav, MenuIcon, MenuItems } from 'astro-navbar';

const menuitems = [
	{
		title: 'About',
		path: '/#about',
		i18n: 'nav.about',
	},
	{
		title: 'Projects',
		path: '/#projects',
		i18n: 'nav.projects',
	},
	{
		title: 'Contact',
		path: '/#contact',
		i18n: 'nav.contact',
	},
];
---

<header data-testId="header" class="my-5 flex flex-col items-center justify-between lg:flex-row">
	<Astronav>
		<div class="flex w-full items-center justify-between lg:w-auto">
			<a href="https://drive.google.com/file/d/1DDuDXC4fMh_cWu432GREJ2751ryQFHqp/view?usp=drive_link" download class="no-underline mr-3">
			<Button size={'sm'} name="Download CV (English)"><span data-i18n="nav.cv.english">Download CV (English)</span></Button>
			</a>
			<a href="https://drive.google.com/file/d/1GCm1yD6zbyTWhD8W4xnrjz4dBOuIio1-/view?usp=drive_link" download class="no-underline mr-3">
			<Button size={'sm'} name="Download CV (Portuguese)"><span data-i18n="nav.cv.portuguese">Download CV (Portuguese)</span></Button>
			</a>
			<div class="block lg:hidden">
				<MenuIcon class="h-4 w-4 text-black dark:text-white" />
			</div>
		</div>
		<MenuItems class="mt-2 hidden w-full lg:mt-0 lg:flex lg:w-auto">
			<ul class="flex flex-col lg:flex-row lg:gap-3">
				{
					menuitems.map((item) => (
						<>
							<li>
								<a
									aria-label="navigation link"
									href={item.path}
									class="flex py-2 text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
								>
									<span data-i18n={item.i18n}>{item.title}</span>
								</a>
							</li>
						</>
					))
				}
				<li>
					<button
						id="lang-toggle"
						aria-label="toggle language"
						class="flex py-2 font-mono text-sm text-black hover:text-orange dark:text-white dark:hover:text-orange lg:px-3"
					>
						PT
					</button>
				</li>
				<li><ToggleTheme /></li>
			</ul>
		</MenuItems>
	</Astronav>
</header>
