---
import Footer from '@components/Footer.astro';
import Navbar from '@components/Navbar.astro';
import { SEO } from 'astro-seo';

export interface LayoutProps {
	title: string;
}

const { title = 'Rafael Monteiro | Applied Mathematician' } = Astro.props as LayoutProps;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth" data-testid="html">
	<head>
		<SEO
			title="Rafael Monteiro | Applied Mathematician"
			description="Some of the projects I have worked on."
		/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/png" href="/logo_portuguese.png" />

		<title>{title}</title>
	</head>
	<body
		class="mx-auto max-w-screen-xl bg-white text-black dark:bg-black dark:text-white px-5 font-sans xs:text-[16px] md:text-[18px] flex flex-col min-h-screen"
	>
	<!-- <body
		class="mx-auto max-w-screen-xl bg-white px-5 font-sans text-white dark:bg-black xs:text-[16px] md:text-[18px]"
	> -->
		<Navbar />
		<slot />
		<Footer class="mt-auto" />
		<style is:global>
			/* Improve Page speed */
			/* https://css-tricks.com/almanac/properties/c/content-visibility/ */
			img {
				content-visibility: auto;
			}
		</style>
		<script>
			const html = document.documentElement;

			// Always start in light mode by default
			html.classList.remove('dark');

			// Optional: expose toggle function
			window.toggleTheme = () => {
				html.classList.toggle('dark');
				localStorage.setItem('theme', html.classList.contains('dark') ? 'dark' : 'light');
			};
			</script>
	</body>
</html>
